In [72]:
import pandas as pd
import os

In [73]:
data_path = os.path.join('..', 'data')

In [74]:
metadata = pd.read_csv( os.path.join(data_path,  'metadata.csv'), sep=';')

In [75]:
df = pd.read_csv(os.path.join(data_path, 'cost-of-living_v2.csv'))

In [76]:
df = df.drop('city', axis=1)

In [77]:
data = df.groupby('country').mean()

In [78]:
data = data.reset_index()

In [79]:
data.country.loc[data.isnull().any(axis=1)==True]

0              Afghanistan
3           American Samoa
4                  Andorra
6                 Anguilla
7      Antigua And Barbuda
              ...
200                 Tuvalu
208                Vanuatu
209           Vatican City
212                  Yemen
213                 Zambia
Name: country, Length: 62, dtype: object

In [80]:
data.to_csv(os.path.join(data_path, 'cost_of_living_per_country.csv'))

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 57 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       215 non-null    object
 1   x1            212 non-null    float64
 2   x2            212 non-null    float64
 3   x3            211 non-null    float64
 4   x4            211 non-null    float64
 5   x5            210 non-null    float64
 6   x6            212 non-null    float64
 7   x7            214 non-null    float64
 8   x8            214 non-null    float64
 9   x9            214 non-null    float64
 10  x10           214 non-null    float64
 11  x11           210 non-null    float64
 12  x12           212 non-null    float64
 13  x13           203 non-null    float64
 14  x14           210 non-null    float64
 15  x15           208 non-null    float64
 16  x16           209 non-null    float64
 17  x17           210 non-null    float64
 18  x18           210 non-null    float64
 19  x19           209 non-null    float64
 20  x20           208 non-null    float64
 21  x21           208 non-null    float64
 22  x22           206 non-null    float64
 23  x23           209 non-null    float64
 24  x24           209 non-null    float64
 25  x25           205 non-null    float64
 26  x26           207 non-null    float64
 27  x27           206 non-null    float64
 28  x28           203 non-null    float64
 29  x29           186 non-null    float64
 30  x30           201 non-null    float64
 31  x31           195 non-null    float64
 32  x32           194 non-null    float64
 33  x33           208 non-null    float64
 34  x34           194 non-null    float64
 35  x35           190 non-null    float64
 36  x36           208 non-null    float64
 37  x37           198 non-null    float64
 38  x38           206 non-null    float64
 39  x39           207 non-null    float64
 40  x40           194 non-null    float64
 41  x41           200 non-null    float64
 42  x42           195 non-null    float64
 43  x43           195 non-null    float64
 44  x44           199 non-null    float64
 45  x45           197 non-null    float64
 46  x46           199 non-null    float64
 47  x47           199 non-null    float64
 48  x48           211 non-null    float64
 49  x49           212 non-null    float64
 50  x50           206 non-null    float64
 51  x51           208 non-null    float64
 52  x52           190 non-null    float64
 53  x53           189 non-null    float64
 54  x54           209 non-null    float64
 55  x55           188 non-null    float64
 56  data_quality  215 non-null    float64
dtypes: float64(56), object(1)
memory usage: 95.9+ KB

In [82]:
# data.columns = list(metadata.description)

In [85]:
meals = [1, 2, 3, 4, 5, 6, 7, 8]

In [56]:
market = [23, 25, 24, 27]

In [57]:
transports = [28, 30, 33]

In [58]:
internet = [37, 38]

In [59]:
habitation = [48, 49]

In [60]:
cols = meals + market + transports + internet + habitation
columns = [f'x{c}' for c in cols]

In [61]:
columns = ['country'] + columns

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 57 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   Country                                                                         215 non-null    object
 1   Meal, Inexpensive Restaurant (USD)                                              212 non-null    float64
 2   Meal for 2 People, Mid-range Restaurant, Three-course (USD)                     212 non-null    float64
 3   McMeal at McDonalds (or Equivalent Combo Meal) (USD)                            211 non-null    float64
 4   Domestic Beer (0.5 liter draught, in restaurants) (USD)                         211 non-null    float64
 5   Imported Beer (0.33 liter bottle, in restaurants) (USD)                         210 non-null    float64
 6   Cappuccino (regular, in restaurants) (USD)                                      212 non-null    float64
 7   Coke/Pepsi (0.33 liter bottle, in restaurants) (USD)                            214 non-null    float64
 8   Water (0.33 liter bottle, in restaurants) (USD)                                 214 non-null    float64
 9   Milk (regular), (1 liter) (USD)                                                 214 non-null    float64
 10  Loaf of Fresh White Bread (500g) (USD)                                          214 non-null    float64
 11  Rice (white), (1kg) (USD)                                                       210 non-null    float64
 12  Eggs (regular) (12) (USD)                                                       212 non-null    float64
 13  Local Cheese (1kg) (USD)                                                        203 non-null    float64
 14  Chicken Fillets (1kg) (USD)                                                     210 non-null    float64
 15  Beef Round (1kg) (or Equivalent Back Leg Red Meat) (USD)                        208 non-null    float64
 16  Apples (1kg) (USD)                                                              209 non-null    float64
 17  Banana (1kg) (USD)                                                              210 non-null    float64
 18  Oranges (1kg) (USD)                                                             210 non-null    float64
 19  Tomato (1kg) (USD)                                                              209 non-null    float64
 20  Potato (1kg) (USD)                                                              208 non-null    float64
 21  Onion (1kg) (USD)                                                               208 non-null    float64
 22  Lettuce (1 head) (USD)                                                          206 non-null    float64
 23  Water (1.5 liter bottle, at the market) (USD)                                   209 non-null    float64
 24  Bottle of Wine (Mid-Range, at the market) (USD)                                 209 non-null    float64
 25  Domestic Beer (0.5 liter bottle, at the market) (USD)                           205 non-null    float64
 26  Imported Beer (0.33 liter bottle, at the market) (USD)                          207 non-null    float64
 27  Cigarettes 20 Pack (Marlboro) (USD)                                             206 non-null    float64
 28  One-way Ticket (Local Transport) (USD)                                          203 non-null    float64
 29  Monthly Pass (Regular Price) (USD)                                              186 non-null    float64
 30  Taxi Start (Normal Tariff) (USD)                                                201 non-null    float64
 31  Taxi 1km (Normal Tariff) (USD)                                                  195 non-null    float64
 32  Taxi 1hour Waiting (Normal Tariff) (USD)                                        194 non-null    float64
 33  Gasoline (1 liter) (USD)                                                        208 non-null    float64
 34  Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) (USD)               194 non-null    float64
 35  Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) (USD)            190 non-null    float64
 36  Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment (USD)  208 non-null    float64
 37  1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) (USD)             198 non-null    float64
 38  Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) (USD)                    206 non-null    float64
 39  Fitness Club, Monthly Fee for 1 Adult (USD)                                     207 non-null    float64
 40  Tennis Court Rent (1 Hour on Weekend) (USD)                                     194 non-null    float64
 41  Cinema, International Release, 1 Seat (USD)                                     200 non-null    float64
 42  Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child (USD)       195 non-null    float64
 43  International Primary School, Yearly for 1 Child (USD)                          195 non-null    float64
 44  1 Pair of Jeans (Levis 501 Or Similar) (USD)                                    199 non-null    float64
 45  1 Summer Dress in a Chain Store (Zara, H&M, …) (USD)                            197 non-null    float64
 46  1 Pair of Nike Running Shoes (Mid-Range) (USD)                                  199 non-null    float64
 47  1Pair of Men Leather Business Shoes (USD)                                       199 non-null    float64
 48  Apartment (1 bedroom) in City Centre (USD)                                      211 non-null    float64
 49  Apartment (1 bedroom) Outside of Centre (USD)                                   212 non-null    float64
 50  Apartment (3 bedrooms) in City Centre (USD)                                     206 non-null    float64
 51  Apartment (3 bedrooms) Outside of Centre (USD)                                  208 non-null    float64
 52  Price per Square Meter to Buy Apartment in City Centre (USD)                    190 non-null    float64
 53  Price per Square Meter to Buy Apartment Outside of Centre (USD)                 189 non-null    float64
 54  Average Monthly Net Salary (After Tax) (USD)                                    209 non-null    float64
 55  Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate      188 non-null    float64
 56  Quality index                                                                   215 non-null    float64
dtypes: float64(56), object(1)
memory usage: 95.9+ KB

In [64]:
data['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua And Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia And Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'Croatia', 'Cuba', 'Curacao', 'Cyprus',
       'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'Falkland Islands', 'Faroe Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle Of Man', 'Israel',
       'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kosovo (Disputed Territory)', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia', 'Rwanda',
       'Saint Helena', 'Saint Kitts And Nevis', 'Saint Lucia',
       'Saint Vincent And The Grenadines', 'Samoa', 'San Marino',
       'Sao Tome And Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad And Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks And Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [86]:
data

,country,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,Afghanistan,1.690000,6.870000,2.977500,2.260000,NaN,0.597500,0.327500,0.140000,0.512000,...,27.965000,82.317500,46.140000,151.596667,94.163333,486.063333,239.113333,191.463333,11.193333,0.166667
1,Albania,4.460000,25.532000,4.223333,1.378667,1.842667,1.198667,1.148667,0.604000,1.136667,...,77.191429,204.213636,125.985455,366.069000,219.701000,887.849000,536.041111,368.735000,4.880833,0.200000
2,Algeria,1.956562,13.983750,2.830000,1.419615,1.627778,0.507333,0.489091,0.198788,0.673333,...,63.352258,145.281034,96.479630,239.689643,166.367778,947.055789,616.633684,262.671034,6.372667,0.088235
3,American Samoa,23.820000,6.660000,22.130000,1.910000,1.910000,1.000000,1.190000,2.110000,1.050000,...,NaN,89.460000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
4,Andorra,13.173333,40.920000,7.010000,2.073333,2.600000,1.380000,1.713333,1.370000,0.950000,...,124.693333,823.490000,664.736667,1724.043333,1320.693333,4390.603333,4109.603333,2842.183333,2.843333,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Venezuela,8.618824,32.763333,9.021765,1.442353,2.205882,1.928824,1.110000,0.799412,1.508333,...,68.483750,193.940000,181.823333,384.291667,296.666667,665.510000,550.611250,193.140000,31.720000,0.055556
211,Vietnam,2.115882,18.662353,4.231429,0.790625,1.542353,1.689412,0.478824,0.281176,1.337368,...,75.618947,324.830000,201.647273,728.840909,472.695455,1748.847778,986.321111,443.186667,11.003125,0.095238
212,Yemen,6.150000,32.616667,11.158333,2.265000,2.282500,2.540000,1.610000,0.660000,2.298000,...,71.310000,162.295000,93.740000,443.155000,221.605000,2786.350000,1015.360000,439.540000,12.875000,0.142857
213,Zambia,2.988000,18.370000,3.170000,1.152000,1.494000,1.742000,0.822000,0.458000,1.248000,...,105.640000,262.010000,168.400000,832.640000,439.960000,10763.910000,NaN,396.940000,26.000000,0.142857
214,Zimbabwe,6.843750,36.250000,6.187500,1.318750,1.971429,2.285000,0.665000,0.470000,1.688750,...,53.572500,196.586667,209.665000,534.723333,426.390000,1122.050000,1041.260000,311.110000,15.000000,0.100000

In [137]:
dataset = pd.DataFrame(data[columns])

In [138]:
dataset.country = dataset.country.str.title()

In [209]:
import numpy as np

In [240]:
countries = pd.read_csv(os.path.join(data_path, 'GDP_global.csv'))
countries.COUNTRY = countries.COUNTRY.str.title()

In [241]:
dataset['code'] = np.nan
dataset['GDP'] = np.nan

In [242]:
for country, code, gdp in zip(countries.COUNTRY, countries.CODE, countries['GDP (BILLIONS)']):
    indexes = dataset['country'] == country
    dataset.loc[indexes, 'code'] = code
    dataset.loc[indexes, 'GDP'] = gdp

In [250]:
unesco = pd.read_csv(os.path.join('..', 'data', 'unesco.csv'))

In [251]:
unesco.Country = unesco.Country.str.title()

In [252]:
dataset['unesco_props'] = np.nan
for country, prop in zip(unesco.Country, unesco.Properties):
    indexes = dataset['country'] == country
    dataset.loc[indexes, 'unesco_props'] = prop

In [253]:
dataset.unesco_props.isnull().sum()

33

In [254]:
dataset.loc[dataset.unesco_props.isnull(), 'country']

3                   American Samoa
6                         Anguilla
10                           Aruba
22                         Bermuda
28          British Virgin Islands
29                          Brunei
47                         Curacao
61                Falkland Islands
62                   Faroe Islands
66                   French Guiana
67                French Polynesia
73                       Gibraltar
75                       Greenland
76                      Guadeloupe
83                       Hong Kong
91                     Isle Of Man
97                          Jersey
101    Kosovo (Disputed Territory)
110                  Liechtenstein
120                     Martinique
128                     Montserrat
133                          Nauru
136                  New Caledonia
153                    Puerto Rico
155                        Reunion
159                   Saint Helena
172                   Sint Maarten
184                      Swaziland
188                         Taiwan
197                         Turkey
199       Turks And Caicos Islands
200                         Tuvalu
209                   Vatican City
Name: country, dtype: object

In [255]:
safety = pd.read_csv(os.path.join('..', 'data', 'safety_index.csv'))

In [256]:
safety.Country = safety.Country.str.title()

In [257]:
dataset['safety_index'] = np.nan
for country, ind in zip(safety.Country, safety['Safety Index']):
    indexes = dataset['country'] == country
    dataset.loc[indexes, 'safety_index'] = ind

In [258]:
dataset.safety_index.isnull().sum()

75

In [259]:
dataset.to_csv(os.path.join('..', 'data', 'dataset_alpha.csv'))