In [72]:
import pandas as pd
import os

In [73]:
data_path = os.path.join('..', 'data')

In [74]:
metadata = pd.read_csv( os.path.join(data_path,  'metadata.csv'), sep=';')

In [75]:
df = pd.read_csv(os.path.join(data_path, 'cost-of-living_v2.csv'))

In [76]:
df = df.drop('city', axis=1)

In [77]:
data = df.groupby('country').mean()

In [78]:
data = data.reset_index()

In [79]:
data.country.loc[data.isnull().any(axis=1)==True]

0              Afghanistan
3           American Samoa
4                  Andorra
6                 Anguilla
7      Antigua And Barbuda
              ...
200                 Tuvalu
208                Vanuatu
209           Vatican City
212                  Yemen
213                 Zambia
Name: country, Length: 62, dtype: object

In [80]:
data.to_csv(os.path.join(data_path, 'cost_of_living_per_country.csv'))

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 57 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       215 non-null    object
 1   x1            212 non-null    float64
 2   x2            212 non-null    float64
 3   x3            211 non-null    float64
 4   x4            211 non-null    float64
 5   x5            210 non-null    float64
 6   x6            212 non-null    float64
 7   x7            214 non-null    float64
 8   x8            214 non-null    float64
 9   x9            214 non-null    float64
 10  x10           214 non-null    float64
 11  x11           210 non-null    float64
 12  x12           212 non-null    float64
 13  x13           203 non-null    float64
 14  x14           210 non-null    float64
 15  x15           208 non-null    float64
 16  x16           209 non-null    float64
 17  x17           210 non-null    float64
 18  x18           210 non-null    float64
 19  x19           209 non-null    float64
 20  x20           208 non-null    float64
 21  x21           208 non-null    float64
 22  x22           206 non-null    float64
 23  x23           209 non-null    float64
 24  x24           209 non-null    float64
 25  x25           205 non-null    float64
 26  x26           207 non-null    float64
 27  x27           206 non-null    float64
 28  x28           203 non-null    float64
 29  x29           186 non-null    float64
 30  x30           201 non-null    float64
 31  x31           195 non-null    float64
 32  x32           194 non-null    float64
 33  x33           208 non-null    float64
 34  x34           194 non-null    float64
 35  x35           190 non-null    float64
 36  x36           208 non-null    float64
 37  x37           198 non-null    float64
 38  x38           206 non-null    float64
 39  x39           207 non-null    float64
 40  x40           194 non-null    float64
 41  x41           200 non-null    float64
 42  x42           195 non-null    float64
 43  x43           195 non-null    float64
 44  x44           199 non-null    float64
 45  x45           197 non-null    float64
 46  x46           199 non-null    float64
 47  x47           199 non-null    float64
 48  x48           211 non-null    float64
 49  x49           212 non-null    float64
 50  x50           206 non-null    float64
 51  x51           208 non-null    float64
 52  x52           190 non-null    float64
 53  x53           189 non-null    float64
 54  x54           209 non-null    float64
 55  x55           188 non-null    float64
 56  data_quality  215 non-null    float64
dtypes: float64(56), object(1)
memory usage: 95.9+ KB

In [82]:
# data.columns = list(metadata.description)

In [85]:
meals = [1, 2, 3, 4, 5, 6, 7, 8]

In [56]:
market = [23, 25, 24, 27]

In [57]:
transports = [28, 30, 33]

In [58]:
internet = [37, 38]

In [59]:
habitation = [48, 49]

In [60]:
cols = meals + market + transports + internet + habitation
columns = [f'x{c}' for c in cols]

In [61]:
columns = ['country'] + columns

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 57 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   Country                                                                         215 non-null    object
 1   Meal, Inexpensive Restaurant (USD)                                              212 non-null    float64
 2   Meal for 2 People, Mid-range Restaurant, Three-course (USD)                     212 non-null    float64
 3   McMeal at McDonalds (or Equivalent Combo Meal) (USD)                            211 non-null    float64
 4   Domestic Beer (0.5 liter draught, in restaurants) (USD)                         211 non-null    float64
 5   Imported Beer (0.33 liter bottle, in restaurants) (USD)                         210 non-null    float64
 6   Cappuccino (regular, in restaurants) (USD)                                      212 non-null    float64
 7   Coke/Pepsi (0.33 liter bottle, in restaurants) (USD)                            214 non-null    float64
 8   Water (0.33 liter bottle, in restaurants) (USD)                                 214 non-null    float64
 9   Milk (regular), (1 liter) (USD)                                                 214 non-null    float64
 10  Loaf of Fresh White Bread (500g) (USD)                                          214 non-null    float64
 11  Rice (white), (1kg) (USD)                                                       210 non-null    float64
 12  Eggs (regular) (12) (USD)                                                       212 non-null    float64
 13  Local Cheese (1kg) (USD)                                                        203 non-null    float64
 14  Chicken Fillets (1kg) (USD)                                                     210 non-null    float64
 15  Beef Round (1kg) (or Equivalent Back Leg Red Meat) (USD)                        208 non-null    float64
 16  Apples (1kg) (USD)                                                              209 non-null    float64
 17  Banana (1kg) (USD)                                                              210 non-null    float64
 18  Oranges (1kg) (USD)                                                             210 non-null    float64
 19  Tomato (1kg) (USD)                                                              209 non-null    float64
 20  Potato (1kg) (USD)                                                              208 non-null    float64
 21  Onion (1kg) (USD)                                                               208 non-null    float64
 22  Lettuce (1 head) (USD)                                                          206 non-null    float64
 23  Water (1.5 liter bottle, at the market) (USD)                                   209 non-null    float64
 24  Bottle of Wine (Mid-Range, at the market) (USD)                                 209 non-null    float64
 25  Domestic Beer (0.5 liter bottle, at the market) (USD)                           205 non-null    float64
 26  Imported Beer (0.33 liter bottle, at the market) (USD)                          207 non-null    float64
 27  Cigarettes 20 Pack (Marlboro) (USD)                                             206 non-null    float64
 28  One-way Ticket (Local Transport) (USD)                                          203 non-null    float64
 29  Monthly Pass (Regular Price) (USD)                                              186 non-null    float64
 30  Taxi Start (Normal Tariff) (USD)                                                201 non-null    float64
 31  Taxi 1km (Normal Tariff) (USD)                                                  195 non-null    float64
 32  Taxi 1hour Waiting (Normal Tariff) (USD)                                        194 non-null    float64
 33  Gasoline (1 liter) (USD)                                                        208 non-null    float64
 34  Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) (USD)               194 non-null    float64
 35  Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) (USD)            190 non-null    float64
 36  Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment (USD)  208 non-null    float64
 37  1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) (USD)             198 non-null    float64
 38  Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) (USD)                    206 non-null    float64
 39  Fitness Club, Monthly Fee for 1 Adult (USD)                                     207 non-null    float64
 40  Tennis Court Rent (1 Hour on Weekend) (USD)                                     194 non-null    float64
 41  Cinema, International Release, 1 Seat (USD)                                     200 non-null    float64
 42  Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child (USD)       195 non-null    float64
 43  International Primary School, Yearly for 1 Child (USD)                          195 non-null    float64
 44  1 Pair of Jeans (Levis 501 Or Similar) (USD)                                    199 non-null    float64
 45  1 Summer Dress in a Chain Store (Zara, H&M, …) (USD)                            197 non-null    float64
 46  1 Pair of Nike Running Shoes (Mid-Range) (USD)                                  199 non-null    float64
 47  1Pair of Men Leather Business Shoes (USD)                                       199 non-null    float64
 48  Apartment (1 bedroom) in City Centre (USD)                                      211 non-null    float64
 49  Apartment (1 bedroom) Outside of Centre (USD)                                   212 non-null    float64
 50  Apartment (3 bedrooms) in City Centre (USD)                                     206 non-null    float64
 51  Apartment (3 bedrooms) Outside of Centre (USD)                                  208 non-null    float64
 52  Price per Square Meter to Buy Apartment in City Centre (USD)                    190 non-null    float64
 53  Price per Square Meter to Buy Apartment Outside of Centre (USD)                 189 non-null    float64
 54  Average Monthly Net Salary (After Tax) (USD)                                    209 non-null    float64
 55  Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate      188 non-null    float64
 56  Quality index                                                                   215 non-null    float64
dtypes: float64(56), object(1)
memory usage: 95.9+ KB

In [64]:
data['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua And Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia And Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'Croatia', 'Cuba', 'Curacao', 'Cyprus',
       'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'Falkland Islands', 'Faroe Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle Of Man', 'Israel',
       'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kosovo (Disputed Territory)', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia', 'Rwanda',
       'Saint Helena', 'Saint Kitts And Nevis', 'Saint Lucia',
       'Saint Vincent And The Grenadines', 'Samoa', 'San Marino',
       'Sao Tome And Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad And Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks And Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [65]:
countries = pd.read_csv(os.path.join(data_path, 'GDP_global.csv'))

In [70]:
columns

['country',
 'x1',
 'x2',
 'x3',
 'x4',
 'x5',
 'x6',
 'x7',
 'x8',
 'x23',
 'x25',
 'x24',
 'x27',
 'x28',
 'x30',
 'x33',
 'x37',
 'x38',
 'x48',
 'x49']

In [86]:
data

,country,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,Afghanistan,1.690000,6.870000,2.977500,2.260000,NaN,0.597500,0.327500,0.140000,0.512000,...,27.965000,82.317500,46.140000,151.596667,94.163333,486.063333,239.113333,191.463333,11.193333,0.166667
1,Albania,4.460000,25.532000,4.223333,1.378667,1.842667,1.198667,1.148667,0.604000,1.136667,...,77.191429,204.213636,125.985455,366.069000,219.701000,887.849000,536.041111,368.735000,4.880833,0.200000
2,Algeria,1.956562,13.983750,2.830000,1.419615,1.627778,0.507333,0.489091,0.198788,0.673333,...,63.352258,145.281034,96.479630,239.689643,166.367778,947.055789,616.633684,262.671034,6.372667,0.088235
3,American Samoa,23.820000,6.660000,22.130000,1.910000,1.910000,1.000000,1.190000,2.110000,1.050000,...,NaN,89.460000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
4,Andorra,13.173333,40.920000,7.010000,2.073333,2.600000,1.380000,1.713333,1.370000,0.950000,...,124.693333,823.490000,664.736667,1724.043333,1320.693333,4390.603333,4109.603333,2842.183333,2.843333,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Venezuela,8.618824,32.763333,9.021765,1.442353,2.205882,1.928824,1.110000,0.799412,1.508333,...,68.483750,193.940000,181.823333,384.291667,296.666667,665.510000,550.611250,193.140000,31.720000,0.055556
211,Vietnam,2.115882,18.662353,4.231429,0.790625,1.542353,1.689412,0.478824,0.281176,1.337368,...,75.618947,324.830000,201.647273,728.840909,472.695455,1748.847778,986.321111,443.186667,11.003125,0.095238
212,Yemen,6.150000,32.616667,11.158333,2.265000,2.282500,2.540000,1.610000,0.660000,2.298000,...,71.310000,162.295000,93.740000,443.155000,221.605000,2786.350000,1015.360000,439.540000,12.875000,0.142857
213,Zambia,2.988000,18.370000,3.170000,1.152000,1.494000,1.742000,0.822000,0.458000,1.248000,...,105.640000,262.010000,168.400000,832.640000,439.960000,10763.910000,NaN,396.940000,26.000000,0.142857
214,Zimbabwe,6.843750,36.250000,6.187500,1.318750,1.971429,2.285000,0.665000,0.470000,1.688750,...,53.572500,196.586667,209.665000,534.723333,426.390000,1122.050000,1041.260000,311.110000,15.000000,0.100000

In [87]:
dataset = pd.DataFrame(data[columns])

In [88]:
dataset['code'] = ''
dataset['GDP'] = 0

In [90]:
dataset.country[dataset.country.str.contains('Viet')]

211    Vietnam
Name: country, dtype: object

In [91]:
for country in countries.COUNTRY:
    indexes = dataset['country'] == country
    index_gdp = countries['COUNTRY'] == country
    dataset.loc[indexes, 'code'] = countries.loc[index_gdp, 'CODE']
    dataset.loc[indexes, 'GDP'] = countries.loc[index_gdp, 'GDP (BILLIONS)']

In [92]:
dataset

,country,x1,x2,x3,x4,x5,x6,x7,x8,x23,...,x27,x28,x30,x33,x37,x38,x48,x49,code,GDP
0,Afghanistan,1.690000,6.870000,2.977500,2.260000,NaN,0.597500,0.327500,0.140000,0.226000,...,1.370000,0.230000,0.985000,0.794000,0.040000,320.150000,82.317500,46.140000,AFG,21.71
1,Albania,4.460000,25.532000,4.223333,1.378667,1.842667,1.198667,1.148667,0.604000,0.534000,...,2.871333,0.471818,2.520667,1.752000,0.185455,16.179286,204.213636,125.985455,ALB,13.40
2,Algeria,1.956562,13.983750,2.830000,1.419615,1.627778,0.507333,0.489091,0.198788,0.270294,...,2.108750,0.211429,0.810968,0.300000,0.065000,37.448710,145.281034,96.479630,DZA,227.80
3,American Samoa,23.820000,6.660000,22.130000,1.910000,1.910000,1.000000,1.190000,2.110000,NaN,...,NaN,NaN,NaN,NaN,NaN,81.140000,89.460000,NaN,ASM,0.75
4,Andorra,13.173333,40.920000,7.010000,2.073333,2.600000,1.380000,1.713333,1.370000,0.760000,...,5.883333,1.950000,2.450000,1.756667,0.370000,36.996667,823.490000,664.736667,AND,4.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Venezuela,8.618824,32.763333,9.021765,1.442353,2.205882,1.928824,1.110000,0.799412,1.235714,...,3.534667,0.563333,4.040000,0.501111,0.065000,45.231765,193.940000,181.823333,NaN,NaN
211,Vietnam,2.115882,18.662353,4.231429,0.790625,1.542353,1.689412,0.478824,0.281176,0.640526,...,1.130000,0.318750,0.467368,0.963684,0.078000,9.987368,324.830000,201.647273,NaN,NaN
212,Yemen,6.150000,32.616667,11.158333,2.265000,2.282500,2.540000,1.610000,0.660000,1.072000,...,3.836000,0.600000,2.000000,2.334000,0.056000,60.766000,162.295000,93.740000,NaN,NaN
213,Zambia,2.988000,18.370000,3.170000,1.152000,1.494000,1.742000,0.822000,0.458000,0.890000,...,2.482000,1.450000,3.000000,1.360000,0.070000,103.740000,262.010000,168.400000,NaN,NaN
214,Zimbabwe,6.843750,36.250000,6.187500,1.318750,1.971429,2.285000,0.665000,0.470000,0.981250,...,2.000000,0.666667,4.375000,1.437500,0.190000,102.812500,196.586667,209.665000,NaN,NaN

In [ ]:
unesco = pd.read_csv(os.path.join('..', 'data', 'unesco.csv'))

In [93]:
dataset

,country,x1,x2,x3,x4,x5,x6,x7,x8,x23,...,x27,x28,x30,x33,x37,x38,x48,x49,code,GDP
0,Afghanistan,1.690000,6.870000,2.977500,2.260000,NaN,0.597500,0.327500,0.140000,0.226000,...,1.370000,0.230000,0.985000,0.794000,0.040000,320.150000,82.317500,46.140000,AFG,21.71
1,Albania,4.460000,25.532000,4.223333,1.378667,1.842667,1.198667,1.148667,0.604000,0.534000,...,2.871333,0.471818,2.520667,1.752000,0.185455,16.179286,204.213636,125.985455,ALB,13.40
2,Algeria,1.956562,13.983750,2.830000,1.419615,1.627778,0.507333,0.489091,0.198788,0.270294,...,2.108750,0.211429,0.810968,0.300000,0.065000,37.448710,145.281034,96.479630,DZA,227.80
3,American Samoa,23.820000,6.660000,22.130000,1.910000,1.910000,1.000000,1.190000,2.110000,NaN,...,NaN,NaN,NaN,NaN,NaN,81.140000,89.460000,NaN,ASM,0.75
4,Andorra,13.173333,40.920000,7.010000,2.073333,2.600000,1.380000,1.713333,1.370000,0.760000,...,5.883333,1.950000,2.450000,1.756667,0.370000,36.996667,823.490000,664.736667,AND,4.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Venezuela,8.618824,32.763333,9.021765,1.442353,2.205882,1.928824,1.110000,0.799412,1.235714,...,3.534667,0.563333,4.040000,0.501111,0.065000,45.231765,193.940000,181.823333,NaN,NaN
211,Vietnam,2.115882,18.662353,4.231429,0.790625,1.542353,1.689412,0.478824,0.281176,0.640526,...,1.130000,0.318750,0.467368,0.963684,0.078000,9.987368,324.830000,201.647273,NaN,NaN
212,Yemen,6.150000,32.616667,11.158333,2.265000,2.282500,2.540000,1.610000,0.660000,1.072000,...,3.836000,0.600000,2.000000,2.334000,0.056000,60.766000,162.295000,93.740000,NaN,NaN
213,Zambia,2.988000,18.370000,3.170000,1.152000,1.494000,1.742000,0.822000,0.458000,0.890000,...,2.482000,1.450000,3.000000,1.360000,0.070000,103.740000,262.010000,168.400000,NaN,NaN
214,Zimbabwe,6.843750,36.250000,6.187500,1.318750,1.971429,2.285000,0.665000,0.470000,0.981250,...,2.000000,0.666667,4.375000,1.437500,0.190000,102.812500,196.586667,209.665000,NaN,NaN

In [ ]:
dataset.code.isnull().sum()

161

In [ ]:
unesco

         Country  Properties
0    Afghanistan           2
1        Albania           4
2        Algeria           7
3        Andorra           1
4         Angola           1
..           ...         ...
162    Venezuela           3
163      Vietnam           8
164        Yemen           5
165       Zambia           1
166     Zimbabwe           5

[167 rows x 2 columns]

In [42]:
dataset.loc[dataset.country=='Senegal']

NameError: name 'dataset' is not defined

In [ ]:
unesco[unesco.Country =='Senegal']

     Country  Properties
132  Senegal           7

In [ ]:
dataset['unesco_props'] = ''
for i, country in enumerate(dataset.Country):
    indexes = dataset['country'] == country
    dataset.loc[indexes, 'unesco_props'] = unesco.loc[indexes, 'Properties']

In [ ]:
for i in range(len(dataset)):
    print(unesco.loc[unesco['Country'] == dataset.loc[i,"country"], "Properties"])
    dataset.loc[i,"unesco_props"] = unesco.loc[unesco['Country'] == dataset.loc[i,"country"], "Properties"]
    #if dataset.loc[i,"country"] == df.loc[df['col1'] == value]:

0    2
Name: Properties, dtype: int64

ValueError: Incompatible indexer with Series

In [ ]:
dataset

,country,x1,x2,x3,x4,x5,x6,x7,x8,x23,...,x28,x30,x33,x37,x38,x48,x49,code,GDP,unesco_props
0,Afghanistan,1.690000,6.870000,2.977500,2.260000,NaN,0.597500,0.327500,0.140000,0.226000,...,0.230000,0.985000,0.794000,0.040000,320.150000,82.317500,46.140000,AFG,21.71,NaN
1,Albania,4.460000,25.532000,4.223333,1.378667,1.842667,1.198667,1.148667,0.604000,0.534000,...,0.471818,2.520667,1.752000,0.185455,16.179286,204.213636,125.985455,ALB,13.40,NaN
2,Algeria,1.956562,13.983750,2.830000,1.419615,1.627778,0.507333,0.489091,0.198788,0.270294,...,0.211429,0.810968,0.300000,0.065000,37.448710,145.281034,96.479630,DZA,227.80,NaN
3,American Samoa,23.820000,6.660000,22.130000,1.910000,1.910000,1.000000,1.190000,2.110000,NaN,...,NaN,NaN,NaN,NaN,81.140000,89.460000,NaN,ASM,0.75,NaN
4,Andorra,13.173333,40.920000,7.010000,2.073333,2.600000,1.380000,1.713333,1.370000,0.760000,...,1.950000,2.450000,1.756667,0.370000,36.996667,823.490000,664.736667,AND,4.80,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Venezuela,8.618824,32.763333,9.021765,1.442353,2.205882,1.928824,1.110000,0.799412,1.235714,...,0.563333,4.040000,0.501111,0.065000,45.231765,193.940000,181.823333,NaN,NaN,NaN
211,Vietnam,2.115882,18.662353,4.231429,0.790625,1.542353,1.689412,0.478824,0.281176,0.640526,...,0.318750,0.467368,0.963684,0.078000,9.987368,324.830000,201.647273,NaN,NaN,NaN
212,Yemen,6.150000,32.616667,11.158333,2.265000,2.282500,2.540000,1.610000,0.660000,1.072000,...,0.600000,2.000000,2.334000,0.056000,60.766000,162.295000,93.740000,NaN,NaN,NaN
213,Zambia,2.988000,18.370000,3.170000,1.152000,1.494000,1.742000,0.822000,0.458000,0.890000,...,1.450000,3.000000,1.360000,0.070000,103.740000,262.010000,168.400000,NaN,NaN,NaN
214,Zimbabwe,6.843750,36.250000,6.187500,1.318750,1.971429,2.285000,0.665000,0.470000,0.981250,...,0.666667,4.375000,1.437500,0.190000,102.812500,196.586667,209.665000,NaN,NaN,NaN

In [ ]:
dataset

,country,x1,x2,x3,x4,x5,x6,x7,x8,x23,...,x28,x30,x33,x37,x38,x48,x49,code,GDP,unesco_props
0,Afghanistan,1.690000,6.870000,2.977500,2.260000,NaN,0.597500,0.327500,0.140000,0.226000,...,0.230000,0.985000,0.794000,0.040000,320.150000,82.317500,46.140000,AFG,21.71,2
1,Albania,4.460000,25.532000,4.223333,1.378667,1.842667,1.198667,1.148667,0.604000,0.534000,...,0.471818,2.520667,1.752000,0.185455,16.179286,204.213636,125.985455,ALB,13.40,4
2,Algeria,1.956562,13.983750,2.830000,1.419615,1.627778,0.507333,0.489091,0.198788,0.270294,...,0.211429,0.810968,0.300000,0.065000,37.448710,145.281034,96.479630,DZA,227.80,7
3,American Samoa,23.820000,6.660000,22.130000,1.910000,1.910000,1.000000,1.190000,2.110000,NaN,...,NaN,NaN,NaN,NaN,81.140000,89.460000,NaN,ASM,0.75,
4,Andorra,13.173333,40.920000,7.010000,2.073333,2.600000,1.380000,1.713333,1.370000,0.760000,...,1.950000,2.450000,1.756667,0.370000,36.996667,823.490000,664.736667,AND,4.80,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Venezuela,8.618824,32.763333,9.021765,1.442353,2.205882,1.928824,1.110000,0.799412,1.235714,...,0.563333,4.040000,0.501111,0.065000,45.231765,193.940000,181.823333,NaN,NaN,NaN
211,Vietnam,2.115882,18.662353,4.231429,0.790625,1.542353,1.689412,0.478824,0.281176,0.640526,...,0.318750,0.467368,0.963684,0.078000,9.987368,324.830000,201.647273,NaN,NaN,NaN
212,Yemen,6.150000,32.616667,11.158333,2.265000,2.282500,2.540000,1.610000,0.660000,1.072000,...,0.600000,2.000000,2.334000,0.056000,60.766000,162.295000,93.740000,NaN,NaN,NaN
213,Zambia,2.988000,18.370000,3.170000,1.152000,1.494000,1.742000,0.822000,0.458000,0.890000,...,1.450000,3.000000,1.360000,0.070000,103.740000,262.010000,168.400000,NaN,NaN,NaN
214,Zimbabwe,6.843750,36.250000,6.187500,1.318750,1.971429,2.285000,0.665000,0.470000,0.981250,...,0.666667,4.375000,1.437500,0.190000,102.812500,196.586667,209.665000,NaN,NaN,NaN

In [ ]:
unesco.loc[unesco.Country == 'Senegal']

     Country  Properties
132  Senegal           7

In [ ]:
dataset.loc[dataset.unesco_props.isnull()]

,country,x1,x2,x3,x4,x5,x6,x7,x8,x23,...,x28,x30,x33,x37,x38,x48,x49,code,GDP,unesco_props
167,Senegal,4.006667,39.360000,6.025000,1.690000,3.210000,2.905000,0.790000,0.820000,0.730000,...,0.360000,2.410000,1.340000,0.080000,48.800000,499.560000,475.380000,NaN,NaN,NaN
168,Serbia,4.911290,20.930667,4.520968,1.672903,1.854333,1.219032,1.175152,0.823333,0.471818,...,0.892174,1.220000,1.535758,0.108710,19.085625,196.673125,136.025937,NaN,NaN,NaN
169,Seychelles,16.010000,58.890000,6.400000,3.930000,4.860000,5.750000,3.260000,1.980000,1.570000,...,0.680000,5.050000,1.280000,0.300000,118.260000,875.370000,742.760000,NaN,NaN,NaN
171,Singapore,11.090000,66.550000,5.920000,7.390000,8.870000,4.550000,1.490000,1.060000,1.520000,...,1.480000,2.960000,2.350000,0.180000,35.020000,2734.540000,2015.750000,NaN,NaN,NaN
173,Slovakia,5.867941,29.674839,6.314687,1.546667,1.849375,1.948125,1.397273,1.083333,0.611471,...,0.846333,2.448182,1.563235,0.066129,16.783939,454.789259,376.561481,NaN,NaN,NaN
174,Slovenia,8.810741,36.314444,6.196538,2.640370,2.795000,1.575185,2.115926,1.531600,0.671923,...,1.472632,1.427391,1.450370,0.092083,34.825600,433.851667,344.421111,NaN,NaN,NaN
175,Solomon Islands,5.470000,54.670000,15.190000,4.560000,3.040000,4.050000,2.430000,1.210000,1.620000,...,0.360000,NaN,1.220000,0.120000,485991.770000,587.240000,668.240000,NaN,NaN,NaN
177,South Africa,7.782424,30.146970,4.070606,1.652500,2.064375,1.681250,0.902121,0.700323,0.891212,...,1.415714,1.325517,1.247273,0.098000,51.178788,345.650769,334.525200,NaN,NaN,NaN
178,South Korea,5.988966,30.092759,5.079655,2.913793,4.014483,3.386207,1.349310,0.694286,1.024138,...,1.038261,2.712759,1.328571,0.204348,21.323214,392.462000,332.336190,,NaN,NaN
180,Spain,11.533140,43.603614,7.940235,2.482791,2.932442,1.738953,1.859419,1.243488,0.655882,...,1.603718,3.852078,1.682593,0.186667,37.647093,652.215946,530.673676,NaN,NaN,NaN
181,Sri Lanka,1.448000,6.878750,3.685000,0.984667,1.156667,0.936154,0.346250,0.161250,0.318125,...,0.205000,0.247143,0.703750,0.008750,8.093571,91.496667,43.232000,NaN,NaN,NaN
182,Sudan,5.000000,20.000000,8.000000,2.000000,3.400000,2.320000,0.520000,0.290000,0.590000,...,0.450000,2.000000,1.130000,0.070000,76.500000,293.956667,149.603333,NaN,NaN,NaN
183,Suriname,4.860000,80.000000,6.150000,2.700000,2.700000,2.250000,0.920000,0.740000,0.970000,...,0.440000,1.800000,0.840000,0.050000,37.500000,394.710000,249.440000,NaN,NaN,NaN
185,Sweden,10.613667,65.378519,7.983793,6.321724,6.103571,3.712667,1.738333,1.621034,1.405926,...,2.872000,5.543448,1.961071,0.113200,29.216897,733.081538,598.130370,NaN,NaN,NaN
186,Switzerland,25.530526,110.683158,15.636486,6.592368,5.906486,4.944103,4.263333,3.771316,1.155882,...,3.968571,7.361471,1.963171,0.299189,57.619286,1489.530333,1260.121071,NaN,NaN,NaN
189,Tajikistan,3.970000,11.000000,4.960000,1.190000,1.490000,1.200000,0.410000,0.280000,0.430000,...,0.300000,0.990000,0.940000,0.020000,22.170000,386.480000,217.115000,NaN,NaN,NaN
190,Tanzania,3.821667,26.611667,6.565000,1.143333,2.593333,2.105000,0.636000,0.403333,0.462857,...,0.300000,1.606667,1.043333,0.051667,69.511667,275.280000,239.878000,NaN,NaN,NaN
191,Thailand,1.826111,23.114483,5.566944,1.882500,3.358182,1.700645,0.553611,0.317667,0.501667,...,0.626000,1.188378,1.196000,0.053784,17.628108,226.188333,179.049032,NaN,NaN,NaN
193,Togo,2.010000,20.180000,8.030000,0.800000,2.410000,3.750000,2.410000,1.290000,0.870000,...,0.800000,0.560000,0.930000,0.160000,59.330000,259.040000,98.390000,NaN,NaN,NaN
196,Tunisia,1.760952,13.326842,2.873333,1.061000,1.292000,0.583333,0.440476,0.196667,0.229545,...,0.224000,0.175909,0.654000,0.066000,20.199545,126.891053,96.653158,NaN,NaN,NaN
198,Turkmenistan,37.142000,131.430000,8.096667,6.288000,14.290000,5.856000,5.247500,0.697500,1.066000,...,0.190000,1.616667,0.430000,0.030000,369.050000,539.285000,303.570000,NaN,NaN,NaN
201,Uganda,2.331000,16.408750,7.181000,0.942000,1.509000,1.777000,0.370000,0.204000,0.579000,...,0.626667,0.744444,1.146000,0.097000,73.204000,180.283333,98.233333,NaN,NaN,NaN
202,Ukraine,4.895476,15.186667,3.286750,0.971951,1.273902,0.983810,0.546905,0.391429,0.436098,...,0.261944,1.175227,0.944419,0.026944,4.446000,220.958286,147.283333,NaN,NaN,NaN
203,United Arab Emirates,7.678000,45.134000,7.298000,9.244000,9.914000,4.786000,1.030000,0.644000,0.606000,...,1.996000,3.678000,1.002000,0.176000,97.472000,2228.554000,1560.868000,NaN,NaN,NaN
204,United Kingdom,16.985548,64.380714,7.278571,4.813379,4.811948,3.490323,1.814641,1.324052,1.201307,...,3.563425,3.513701,1.919933,0.149483,37.986316,1028.794960,777.433724,NaN,NaN,NaN
205,United States,17.136369,62.048253,8.432624,5.087418,6.038501,4.427453,2.185920,1.625703,1.850188,...,2.306370,3.639079,1.215530,0.159784,69.911672,1445.084317,1228.329583,NaN,NaN,NaN
206,Uruguay,13.956364,47.256000,9.454545,3.250000,4.142222,3.546000,2.205000,1.477273,1.389000,...,1.243333,1.420000,1.877273,0.172857,37.589000,429.390000,327.888333,NaN,NaN,NaN
207,Uzbekistan,3.340000,22.087778,2.984000,1.197778,1.955000,1.325556,0.471000,0.354000,0.291250,...,0.191429,0.448889,0.771429,0.018333,15.844286,222.907143,164.671429,NaN,NaN,NaN
208,Vanuatu,12.710000,55.060000,10.170000,3.810000,4.660000,3.340000,2.140000,0.860000,1.330000,...,1.270000,1.390000,1.440000,NaN,141.900000,995.460000,1122.460000,NaN,NaN,NaN
210,Venezuela,8.618824,32.763333,9.021765,1.442353,2.205882,1.928824,1.110000,0.799412,1.235714,...,0.563333,4.040000,0.501111,0.065000,45.231765,193.940000,181.823333,NaN,NaN,NaN
211,Vietnam,2.115882,18.662353,4.231429,0.790625,1.542353,1.689412,0.478824,0.281176,0.640526,...,0.318750,0.467368,0.963684,0.078000,9.987368,324.830000,201.647273,NaN,NaN,NaN
212,Yemen,6.150000,32.616667,11.158333,2.265000,2.282500,2.540000,1.610000,0.660000,1.072000,...,0.600000,2.000000,2.334000,0.056000,60.766000,162.295000,93.740000,NaN,NaN,NaN
213,Zambia,2.988000,18.370000,3.170000,1.152000,1.494000,1.742000,0.822000,0.458000,0.890000,...,1.450000,3.000000,1.360000,0.070000,103.740000,262.010000,168.400000,NaN,NaN,NaN
214,Zimbabwe,6.843750,36.250000,6.187500,1.318750,1.971429,2.285000,0.665000,0.470000,0.981250,...,0.666667,4.375000,1.437500,0.190000,102.812500,196.586667,209.665000,NaN,NaN,NaN

In [ ]:
dataset.to_csv(os.path.join('..', 'data', 'dataset_alpha.csv'))