# Merge datasets

In [1]:
import pandas as pd
import os 
import numpy as np

In [2]:
data_path = os.path.join('..', 'data')

## Cost of living

In [3]:
metadata = pd.read_csv( os.path.join(data_path,  'metadata.csv'), sep=';')

In [11]:
df = pd.read_csv(os.path.join(data_path, 'cost-of-living_v2.csv'))

In [12]:
df = df.drop('city', axis=1)

In [13]:
data = df.groupby('country').mean()

In [14]:
data = data.reset_index()

In [15]:
data.country.loc[data.isnull().any(axis=1)==True]

0              Afghanistan
3           American Samoa
4                  Andorra
6                 Anguilla
7      Antigua And Barbuda
              ...
200                 Tuvalu
208                Vanuatu
209           Vatican City
212                  Yemen
213                 Zambia
Name: country, Length: 62, dtype: object

In [16]:
data.to_csv(os.path.join(data_path, 'cost_of_living_per_country.csv'))

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 57 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       215 non-null    object
 1   x1            212 non-null    float64
 2   x2            212 non-null    float64
 3   x3            211 non-null    float64
 4   x4            211 non-null    float64
 5   x5            210 non-null    float64
 6   x6            212 non-null    float64
 7   x7            214 non-null    float64
 8   x8            214 non-null    float64
 9   x9            214 non-null    float64
 10  x10           214 non-null    float64
 11  x11           210 non-null    float64
 12  x12           212 non-null    float64
 13  x13           203 non-null    float64
 14  x14           210 non-null    float64
 15  x15           208 non-null    float64
 16  x16           209 non-null    float64
 17  x17           210 non-null    float64
 18  x18           210 non-null    float64
 19  x19           209 non-null    float64
 20  x20           208 non-null    float64
 21  x21           208 non-null    float64
 22  x22           206 non-null    float64
 23  x23           209 non-null    float64
 24  x24           209 non-null    float64
 25  x25           205 non-null    float64
 26  x26           207 non-null    float64
 27  x27           206 non-null    float64
 28  x28           203 non-null    float64
 29  x29           186 non-null    float64
 30  x30           201 non-null    float64
 31  x31           195 non-null    float64
 32  x32           194 non-null    float64
 33  x33           208 non-null    float64
 34  x34           194 non-null    float64
 35  x35           190 non-null    float64
 36  x36           208 non-null    float64
 37  x37           198 non-null    float64
 38  x38           206 non-null    float64
 39  x39           207 non-null    float64
 40  x40           194 non-null    float64
 41  x41           200 non-null    float64
 42  x42           195 non-null    float64
 43  x43           195 non-null    float64
 44  x44           199 non-null    float64
 45  x45           197 non-null    float64
 46  x46           199 non-null    float64
 47  x47           199 non-null    float64
 48  x48           211 non-null    float64
 49  x49           212 non-null    float64
 50  x50           206 non-null    float64
 51  x51           208 non-null    float64
 52  x52           190 non-null    float64
 53  x53           189 non-null    float64
 54  x54           209 non-null    float64
 55  x55           188 non-null    float64
 56  data_quality  215 non-null    float64
dtypes: float64(56), object(1)
memory usage: 95.9+ KB

In [82]:
# data.columns = list(metadata.description)

In [24]:
columns = ['country'] + columns

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 57 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       215 non-null    object
 1   x1            212 non-null    float64
 2   x2            212 non-null    float64
 3   x3            211 non-null    float64
 4   x4            211 non-null    float64
 5   x5            210 non-null    float64
 6   x6            212 non-null    float64
 7   x7            214 non-null    float64
 8   x8            214 non-null    float64
 9   x9            214 non-null    float64
 10  x10           214 non-null    float64
 11  x11           210 non-null    float64
 12  x12           212 non-null    float64
 13  x13           203 non-null    float64
 14  x14           210 non-null    float64
 15  x15           208 non-null    float64
 16  x16           209 non-null    float64
 17  x17           210 non-null    float64
 18  x18           210 non-null    float64
 19  x19           209 non-null    float64
 20  x20           208 non-null    float64
 21  x21           208 non-null    float64
 22  x22           206 non-null    float64
 23  x23           209 non-null    float64
 24  x24           209 non-null    float64
 25  x25           205 non-null    float64
 26  x26           207 non-null    float64
 27  x27           206 non-null    float64
 28  x28           203 non-null    float64
 29  x29           186 non-null    float64
 30  x30           201 non-null    float64
 31  x31           195 non-null    float64
 32  x32           194 non-null    float64
 33  x33           208 non-null    float64
 34  x34           194 non-null    float64
 35  x35           190 non-null    float64
 36  x36           208 non-null    float64
 37  x37           198 non-null    float64
 38  x38           206 non-null    float64
 39  x39           207 non-null    float64
 40  x40           194 non-null    float64
 41  x41           200 non-null    float64
 42  x42           195 non-null    float64
 43  x43           195 non-null    float64
 44  x44           199 non-null    float64
 45  x45           197 non-null    float64
 46  x46           199 non-null    float64
 47  x47           199 non-null    float64
 48  x48           211 non-null    float64
 49  x49           212 non-null    float64
 50  x50           206 non-null    float64
 51  x51           208 non-null    float64
 52  x52           190 non-null    float64
 53  x53           189 non-null    float64
 54  x54           209 non-null    float64
 55  x55           188 non-null    float64
 56  data_quality  215 non-null    float64
dtypes: float64(56), object(1)
memory usage: 95.9+ KB

In [32]:
data['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua And Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia And Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'Croatia', 'Cuba', 'Curacao', 'Cyprus',
       'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'Falkland Islands', 'Faroe Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle Of Man', 'Israel',
       'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kosovo (Disputed Territory)', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia', 'Rwanda',
       'Saint Helena', 'Saint Kitts And Nevis', 'Saint Lucia',
       'Saint Vincent And The Grenadines', 'Samoa', 'San Marino',
       'Sao Tome And Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad And Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks And Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [33]:
data

,country,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,Afghanistan,1.690000,6.870000,2.977500,2.260000,NaN,0.597500,0.327500,0.140000,0.512000,...,27.965000,82.317500,46.140000,151.596667,94.163333,486.063333,239.113333,191.463333,11.193333,0.166667
1,Albania,4.460000,25.532000,4.223333,1.378667,1.842667,1.198667,1.148667,0.604000,1.136667,...,77.191429,204.213636,125.985455,366.069000,219.701000,887.849000,536.041111,368.735000,4.880833,0.200000
2,Algeria,1.956562,13.983750,2.830000,1.419615,1.627778,0.507333,0.489091,0.198788,0.673333,...,63.352258,145.281034,96.479630,239.689643,166.367778,947.055789,616.633684,262.671034,6.372667,0.088235
3,American Samoa,23.820000,6.660000,22.130000,1.910000,1.910000,1.000000,1.190000,2.110000,1.050000,...,NaN,89.460000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
4,Andorra,13.173333,40.920000,7.010000,2.073333,2.600000,1.380000,1.713333,1.370000,0.950000,...,124.693333,823.490000,664.736667,1724.043333,1320.693333,4390.603333,4109.603333,2842.183333,2.843333,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Venezuela,8.618824,32.763333,9.021765,1.442353,2.205882,1.928824,1.110000,0.799412,1.508333,...,68.483750,193.940000,181.823333,384.291667,296.666667,665.510000,550.611250,193.140000,31.720000,0.055556
211,Vietnam,2.115882,18.662353,4.231429,0.790625,1.542353,1.689412,0.478824,0.281176,1.337368,...,75.618947,324.830000,201.647273,728.840909,472.695455,1748.847778,986.321111,443.186667,11.003125,0.095238
212,Yemen,6.150000,32.616667,11.158333,2.265000,2.282500,2.540000,1.610000,0.660000,2.298000,...,71.310000,162.295000,93.740000,443.155000,221.605000,2786.350000,1015.360000,439.540000,12.875000,0.142857
213,Zambia,2.988000,18.370000,3.170000,1.152000,1.494000,1.742000,0.822000,0.458000,1.248000,...,105.640000,262.010000,168.400000,832.640000,439.960000,10763.910000,NaN,396.940000,26.000000,0.142857
214,Zimbabwe,6.843750,36.250000,6.187500,1.318750,1.971429,2.285000,0.665000,0.470000,1.688750,...,53.572500,196.586667,209.665000,534.723333,426.390000,1122.050000,1041.260000,311.110000,15.000000,0.100000

In [34]:
dataset = pd.DataFrame(data[columns])

In [35]:
dataset.country = dataset.country.str.title()

## Unesco

In [36]:
unesco = pd.read_csv(os.path.join('..', 'data', 'unesco.csv'))

In [37]:
unesco.Country = unesco.Country.str.title()

In [38]:
dataset['unesco_props'] = np.nan
for country, prop in zip(unesco.Country, unesco.Properties):
    indexes = dataset['country'] == country
    dataset.loc[indexes, 'unesco_props'] = prop

In [40]:
dataset.unesco_props.isnull().sum()

30

In [41]:
dataset.loc[dataset.unesco_props.isnull(), 'country']

3                   American Samoa
6                         Anguilla
10                           Aruba
22                         Bermuda
28          British Virgin Islands
47                         Curacao
61                Falkland Islands
62                   Faroe Islands
66                   French Guiana
67                French Polynesia
73                       Gibraltar
75                       Greenland
76                      Guadeloupe
83                       Hong Kong
91                     Isle Of Man
97                          Jersey
101    Kosovo (Disputed Territory)
110                  Liechtenstein
120                     Martinique
128                     Montserrat
133                          Nauru
136                  New Caledonia
153                    Puerto Rico
155                        Reunion
159                   Saint Helena
172                   Sint Maarten
188                         Taiwan
199       Turks And Caicos Islands
200                         Tuvalu
209                   Vatican City
Name: country, dtype: object

## Safety index

In [42]:
safety = pd.read_csv(os.path.join('..', 'data', 'safety_index.csv'))

In [43]:
safety.Country = safety.Country.str.title()

In [44]:
dataset['safety_index'] = np.nan
for country, ind in zip(safety.Country, safety['Safety Index']):
    indexes = dataset['country'] == country
    dataset.loc[indexes, 'safety_index'] = ind

In [45]:
dataset.safety_index.isnull().sum()

75

In [46]:
for country in dataset.loc[dataset.safety_index.isnull(), 'country']:
    print(country)

American Samoa
Andorra
Anguilla
Antigua And Barbuda
Aruba
Benin
Bermuda
Bhutan
British Virgin Islands
Burkina Faso
Burundi
Cape Verde
Chad
Comoros
Congo
Cook Islands
Curacao
Djibouti
Dominica
Equatorial Guinea
Eritrea
Falkland Islands
Faroe Islands
French Guiana
French Polynesia
Gabon
Gambia
Gibraltar
Greenland
Guadeloupe
Guinea
Guinea-Bissau
Haiti
Ivory Coast
Jersey
Laos
Lesotho
Liberia
Liechtenstein
Madagascar
Malawi
Mali
Marshall Islands
Martinique
Mauritania
Montserrat
Nauru
New Caledonia
Niger
Reunion
Saint Helena
Saint Kitts And Nevis
Saint Lucia
Saint Vincent And The Grenadines
Samoa
San Marino
Sao Tome And Principe
Senegal
Seychelles
Sierra Leone
Sint Maarten
Solomon Islands
South Sudan
Suriname
Swaziland
Tajikistan
Timor-Leste
Togo
Tonga
Turkmenistan
Turks And Caicos Islands
Tuvalu
Vanuatu
Vatican City
Yemen

In [47]:
dataset.to_csv(os.path.join('..', 'data', 'dataset_alpha.csv'), index=False)

In [48]:
# Ler o dataset_alpha.csv
data = pd.read_csv( os.path.join(data_path,  'dataset_alpha.csv'), sep=',')
data

,country,x1,x2,x3,x4,x5,x6,x7,x8,x23,...,x27,x28,x30,x33,x37,x38,x48,x49,unesco_props,safety_index
0,Afghanistan,1.690000,6.870000,2.977500,2.260000,NaN,0.597500,0.327500,0.140000,0.226000,...,1.370000,0.230000,0.985000,0.794000,0.040000,320.150000,82.317500,46.140000,2.0,23.0
1,Albania,4.460000,25.532000,4.223333,1.378667,1.842667,1.198667,1.148667,0.604000,0.534000,...,2.871333,0.471818,2.520667,1.752000,0.185455,16.179286,204.213636,125.985455,4.0,53.9
2,Algeria,1.956562,13.983750,2.830000,1.419615,1.627778,0.507333,0.489091,0.198788,0.270294,...,2.108750,0.211429,0.810968,0.300000,0.065000,37.448710,145.281034,96.479630,7.0,46.2
3,American Samoa,23.820000,6.660000,22.130000,1.910000,1.910000,1.000000,1.190000,2.110000,NaN,...,NaN,NaN,NaN,NaN,NaN,81.140000,89.460000,NaN,NaN,NaN
4,Andorra,13.173333,40.920000,7.010000,2.073333,2.600000,1.380000,1.713333,1.370000,0.760000,...,5.883333,1.950000,2.450000,1.756667,0.370000,36.996667,823.490000,664.736667,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Venezuela,8.618824,32.763333,9.021765,1.442353,2.205882,1.928824,1.110000,0.799412,1.235714,...,3.534667,0.563333,4.040000,0.501111,0.065000,45.231765,193.940000,181.823333,3.0,16.4
211,Vietnam,2.115882,18.662353,4.231429,0.790625,1.542353,1.689412,0.478824,0.281176,0.640526,...,1.130000,0.318750,0.467368,0.963684,0.078000,9.987368,324.830000,201.647273,8.0,54.2
212,Yemen,6.150000,32.616667,11.158333,2.265000,2.282500,2.540000,1.610000,0.660000,1.072000,...,3.836000,0.600000,2.000000,2.334000,0.056000,60.766000,162.295000,93.740000,5.0,NaN
213,Zambia,2.988000,18.370000,3.170000,1.152000,1.494000,1.742000,0.822000,0.458000,0.890000,...,2.482000,1.450000,3.000000,1.360000,0.070000,103.740000,262.010000,168.400000,1.0,53.7
214,Zimbabwe,6.843750,36.250000,6.187500,1.318750,1.971429,2.285000,0.665000,0.470000,0.981250,...,2.000000,0.666667,4.375000,1.437500,0.190000,102.812500,196.586667,209.665000,5.0,40.3

In [50]:
# ver que paises o safety_index esta a null
data.loc[data.unesco_props.isnull(), 'country']

3                   American Samoa
6                         Anguilla
10                           Aruba
22                         Bermuda
28          British Virgin Islands
47                         Curacao
61                Falkland Islands
62                   Faroe Islands
66                   French Guiana
67                French Polynesia
73                       Gibraltar
75                       Greenland
76                      Guadeloupe
83                       Hong Kong
91                     Isle Of Man
97                          Jersey
101    Kosovo (Disputed Territory)
110                  Liechtenstein
120                     Martinique
128                     Montserrat
133                          Nauru
136                  New Caledonia
153                    Puerto Rico
155                        Reunion
159                   Saint Helena
172                   Sint Maarten
188                         Taiwan
199       Turks And Caicos Islands
200                         Tuvalu
209                   Vatican City
Name: country, dtype: object

In [51]:
data.unesco_props.isnull().sum()

30

## Quality of life

In [54]:
# Preprocessamento do dataset quality_life_index.csv
quality = pd.read_csv(os.path.join('..', 'data', 'quality_life_index.csv'))
quality.Nome = quality.Nome.str.title()
data['quality_of_life'] = np.nan
for country, ind in zip(quality.Nome, quality['Index']):
    indexes = data['country'] == country
    data.loc[indexes, 'quality_of_life'] = ind

In [55]:
data

,country,x1,x2,x3,x4,x5,x6,x7,x8,x23,...,x28,x30,x33,x37,x38,x48,x49,unesco_props,safety_index,quality_of_life
0,Afghanistan,1.690000,6.870000,2.977500,2.260000,NaN,0.597500,0.327500,0.140000,0.226000,...,0.230000,0.985000,0.794000,0.040000,320.150000,82.317500,46.140000,2.0,23.0,38.1
1,Albania,4.460000,25.532000,4.223333,1.378667,1.842667,1.198667,1.148667,0.604000,0.534000,...,0.471818,2.520667,1.752000,0.185455,16.179286,204.213636,125.985455,4.0,53.9,68.2
2,Algeria,1.956562,13.983750,2.830000,1.419615,1.627778,0.507333,0.489091,0.198788,0.270294,...,0.211429,0.810968,0.300000,0.065000,37.448710,145.281034,96.479630,7.0,46.2,60.6
3,American Samoa,23.820000,6.660000,22.130000,1.910000,1.910000,1.000000,1.190000,2.110000,NaN,...,NaN,NaN,NaN,NaN,81.140000,89.460000,NaN,NaN,NaN,NaN
4,Andorra,13.173333,40.920000,7.010000,2.073333,2.600000,1.380000,1.713333,1.370000,0.760000,...,1.950000,2.450000,1.756667,0.370000,36.996667,823.490000,664.736667,1.0,NaN,79.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Venezuela,8.618824,32.763333,9.021765,1.442353,2.205882,1.928824,1.110000,0.799412,1.235714,...,0.563333,4.040000,0.501111,0.065000,45.231765,193.940000,181.823333,3.0,16.4,49.6
211,Vietnam,2.115882,18.662353,4.231429,0.790625,1.542353,1.689412,0.478824,0.281176,0.640526,...,0.318750,0.467368,0.963684,0.078000,9.987368,324.830000,201.647273,8.0,54.2,57.4
212,Yemen,6.150000,32.616667,11.158333,2.265000,2.282500,2.540000,1.610000,0.660000,1.072000,...,0.600000,2.000000,2.334000,0.056000,60.766000,162.295000,93.740000,5.0,NaN,34.3
213,Zambia,2.988000,18.370000,3.170000,1.152000,1.494000,1.742000,0.822000,0.458000,0.890000,...,1.450000,3.000000,1.360000,0.070000,103.740000,262.010000,168.400000,1.0,53.7,48.5
214,Zimbabwe,6.843750,36.250000,6.187500,1.318750,1.971429,2.285000,0.665000,0.470000,0.981250,...,0.666667,4.375000,1.437500,0.190000,102.812500,196.586667,209.665000,5.0,40.3,44.7

In [56]:
data.quality_of_life.isnull().sum()

30

In [57]:
for country in data.loc[data.quality_of_life.isnull(), 'country']:
    print(country)

American Samoa
Anguilla
Aruba
Bermuda
British Virgin Islands
Cook Islands
Curacao
Falkland Islands
Faroe Islands
French Guiana
French Polynesia
Gibraltar
Greenland
Guadeloupe
Isle Of Man
Jersey
Martinique
Montserrat
New Caledonia
North Korea
Puerto Rico
Reunion
Saint Helena
Saint Kitts And Nevis
Saint Lucia
Saint Vincent And The Grenadines
Sint Maarten
South Sudan
Turks And Caicos Islands
Vatican City

In [58]:
data.to_csv(os.path.join(data_path, 'dataset_alpha.csv'), index=False)

## Population

In [59]:
data = pd.read_csv(os.path.join(data_path, 'dataset_alpha.csv'))

In [63]:
pop_total = pd.read_csv(os.path.join(data_path, 'population.csv'))
pop_total['Country Name'] = pop_total['Country Name'].str.title()

In [64]:
data['total_population'] = np.nan
data['code'] = np.nan
for country, pop, code in zip(pop_total['Country Name'], pop_total['2021'], pop_total['Country Code']):
    # print()
    indexes = data['country'] == country
    data.loc[indexes, 'total_population'] = pop
    data.loc[indexes, 'code'] = code

In [66]:
for country, code in zip(data.loc[data.code.isnull(), 'country'], data.loc[data.code.isnull(), 'code']):
    print(country)

Anguilla
Brunei
Congo
Cook Islands
Falkland Islands
French Guiana
Guadeloupe
Hong Kong
Jersey
Martinique
Montserrat
Reunion
Saint Helena
Saint Kitts And Nevis
Saint Lucia
Saint Vincent And The Grenadines
Sint Maarten
Taiwan
Vatican City

## GDP

In [73]:
countries = pd.read_csv(os.path.join(data_path, 'GDP_global.csv'))
countries.COUNTRY = countries.COUNTRY.str.title()
data['GDP'] = np.nan
for country, code, gdp in zip(countries.COUNTRY, countries.CODE, countries['GDP (BILLIONS)']):
    indexes = data['country'] == country
    data.loc[indexes, 'code'] = code
    data.loc[indexes, 'GDP'] = gdp

In [74]:
for country, code in zip(data.loc[data.code.isnull(), 'country'], data.loc[data.code.isnull(), 'code']):
    print(country)

French Guiana
Guadeloupe
Martinique
Montserrat
Reunion
Saint Helena
Vatican City

## Population (age and gender)

In [75]:
pops_path = os.path.join(data_path, 'population')
for pop_dataset in os.listdir(pops_path):
    column_name = pop_dataset.split('.')[0]
    pop_data = pd.read_csv(os.path.join(pops_path, pop_dataset))

    data[column_name] = np.nan
    for code, pops in zip(pop_data['Country Code'], pop_data['2021']):
        indexes = data.code == code
        data.loc[indexes, column_name] = pops

In [76]:
data.to_csv(os.path.join(data_path, 'dataset_alpha.csv'), index=False)

### Average processing

In [41]:
path = os.path.join('..', 'data', 'dataset_alpha.csv')
data = pd.read_csv(path)
data

,country,x1,x2,x3,x4,x5,x6,x7,x8,x23,...,GDP,pop_0_14_%,pop_0_14_%_female,pop_0_14_%_male,pop_15_64_%,pop_15_64_%_female,pop_15_64_%_male,pop_65_plus_%,pop_65_plus_%_female,pop_65_plus_%_male
0,Afghanistan,1.690000,6.870000,2.977500,2.260000,NaN,0.597500,0.327500,0.140000,0.226000,...,21.71,43.424543,42.836470,44.000703,54.171399,54.395516,53.951822,2.404058,2.768015,2.047475
1,Albania,4.460000,25.532000,4.223333,1.378667,1.842667,1.198667,1.148667,0.604000,0.534000,...,13.40,16.281724,15.945701,16.618407,67.484035,67.366308,67.601993,16.234241,16.687991,15.779600
2,Algeria,1.956562,13.983750,2.830000,1.419615,1.627778,0.507333,0.489091,0.198788,0.270294,...,227.80,30.712077,30.617768,30.802962,63.105923,62.825857,63.375825,6.182000,6.556375,5.821213
3,American Samoa,23.820000,6.660000,22.130000,1.910000,1.910000,1.000000,1.190000,2.110000,NaN,...,0.75,27.511935,26.431021,28.615012,65.643388,65.910490,65.370811,6.844676,7.658489,6.014177
4,Andorra,13.173333,40.920000,7.010000,2.073333,2.600000,1.380000,1.713333,1.370000,0.760000,...,4.80,13.074753,13.063209,13.085814,72.389731,71.570972,73.174267,14.535516,15.365819,13.739919
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Venezuela,8.618824,32.763333,9.021765,1.442353,2.205882,1.928824,1.110000,0.799412,1.235714,...,209.20,28.170727,27.150558,29.211820,63.491136,63.327932,63.657687,8.338137,9.521510,7.130493
211,Vietnam,2.115882,18.662353,4.231429,0.790625,1.542353,1.689412,0.478824,0.281176,0.640526,...,187.80,22.545150,21.130319,23.995125,68.701716,68.456868,68.952645,8.753134,10.412813,7.052230
212,Yemen,6.150000,32.616667,11.158333,2.265000,2.282500,2.540000,1.610000,0.660000,1.072000,...,45.45,39.872107,39.344254,40.388712,57.438854,57.554137,57.326028,2.689038,3.101609,2.285260
213,Zambia,2.988000,18.370000,3.170000,1.152000,1.494000,1.742000,0.822000,0.458000,0.890000,...,25.61,43.262363,42.711936,43.827404,54.998707,55.174338,54.818413,1.738930,2.113726,1.354183
214,Zimbabwe,6.843750,36.250000,6.187500,1.318750,1.971429,2.285000,0.665000,0.470000,0.981250,...,13.74,40.893305,38.759415,43.283516,55.743353,57.424404,53.860375,3.363343,3.816182,2.856109

In [42]:
# Columns Categories
meals = [1, 2, 3, 4, 5, 6, 7, 8]# o 0 n conta
market = [23, 25, 24, 27]
transports = [28, 30, 33]
internet = [37, 38]
habitation = [48, 49]
cols = meals + market + transports + internet + habitation
columns = [f'x{c}' for c in cols if c!=0]
columns = ['country'] + columns

In [43]:
# divide the price of bedrooms by 30 due to the months having on average 30 day.
data["x48"] = data["x48"] / 30.437
data["x49"] = data["x49"] / 30.437

# divide the meals by 2
data["x2"] = data["x2"] / 2

data["x38"] = data["x38"] / 30.437

In [44]:
data.x2

0       3.435000
1      12.766000
2       6.991875
3       3.330000
4      20.460000
         ...
210    16.381667
211     9.331176
212    16.308333
213     9.185000
214    18.125000
Name: x2, Length: 215, dtype: float64

In [45]:
data.x1

0       1.690000
1       4.460000
2       1.956562
3      23.820000
4      13.173333
         ...
210     8.618824
211     2.115882
212     6.150000
213     2.988000
214     6.843750
Name: x1, Length: 215, dtype: float64

In [46]:
data.x38

SyntaxError: invalid syntax (2738076976.py, line 1)

In [47]:
data['average_cost_rich'] = 2 * data.x2 + data.x24 + data.x48 + data.x30 + 60 * data.x37 + data.x38 + data.x6 + data.x23

data['average_cost_medium'] = 2 * data.x3 + data.x4 + data.x49 + data.x28 + 30 * data.x37 + data.x38 + data.x6 + data.x23

data['average_cost_lower'] = 2 * data.x1 + data.x49 + data.x8 + 10 * data.x37 + data.x23

In [48]:
averages = data[['average_cost_rich', 'average_cost_medium', 'average_cost_lower']]

In [49]:
data

,country,x1,x2,x3,x4,x5,x6,x7,x8,x23,...,pop_0_14_%_male,pop_15_64_%,pop_15_64_%_female,pop_15_64_%_male,pop_65_plus_%,pop_65_plus_%_female,pop_65_plus_%_male,average_cost_rich,average_cost_medium,average_cost_lower
0,Afghanistan,1.690000,3.435000,2.977500,2.260000,NaN,0.597500,0.327500,0.140000,0.226000,...,44.000703,54.171399,54.395516,53.951822,2.404058,2.768015,2.047475,28.521469,22.502866,5.661918
1,Albania,4.460000,12.766000,4.223333,1.378667,1.842667,1.198667,1.148667,0.604000,0.534000,...,16.618407,67.484035,67.366308,67.601993,16.234241,16.687991,15.779600,53.274227,22.264241,16.051766
2,Algeria,1.956562,6.991875,2.830000,1.419615,1.627778,0.507333,0.489091,0.198788,0.270294,...,30.802962,63.105923,62.825857,63.375825,6.182000,6.556375,5.821213,32.513485,14.418853,8.202021
3,American Samoa,23.820000,3.330000,22.130000,1.910000,1.910000,1.000000,1.190000,2.110000,NaN,...,28.615012,65.643388,65.910490,65.370811,6.844676,7.658489,6.014177,NaN,NaN,NaN
4,Andorra,13.173333,20.460000,7.010000,2.073333,2.600000,1.380000,1.713333,1.370000,0.760000,...,13.085814,72.389731,71.570972,73.174267,14.535516,15.365819,13.739919,101.744407,54.338606,54.016423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Venezuela,8.618824,16.381667,9.021765,1.442353,2.205882,1.928824,1.110000,0.799412,1.235714,...,29.211820,63.491136,63.327932,63.657687,8.338137,9.521510,7.130493,59.446514,32.623592,25.896533
211,Vietnam,2.115882,9.331176,4.231429,0.790625,1.542353,1.689412,0.478824,0.281176,0.640526,...,23.995125,68.701716,68.456868,68.952645,8.753134,10.412813,7.052230,44.728889,21.195373,12.558538
212,Yemen,6.150000,16.308333,11.158333,2.265000,2.282500,2.540000,1.610000,0.660000,1.072000,...,40.388712,57.438854,57.554137,57.326028,2.689038,3.101609,2.285260,64.232280,35.549923,17.671804
213,Zambia,2.988000,9.185000,3.170000,1.152000,1.494000,1.742000,0.822000,0.458000,0.890000,...,43.827404,54.998707,55.174338,54.818413,1.738930,2.113726,1.354183,44.962625,22.615091,13.556740
214,Zimbabwe,6.843750,18.125000,6.187500,1.318750,1.971429,2.285000,0.665000,0.470000,0.981250,...,43.283516,55.743353,57.424404,53.860375,3.363343,3.816182,2.856109,73.565435,33.593037,23.927241

In [51]:
meals

[1, 2, 3, 4, 5, 6, 7, 8]

In [50]:
#data.to_csv(os.path.join(data_path, 'dataset_alpha.csv'), index=False)

### Adding ontinent names to dataset

In [3]:
from pycountry_convert import country_alpha2_to_continent_code, country_alpha3_to_country_alpha2

def get_continent_from_country_code(country_code):
    try:
        alpha_2 = country_alpha3_to_country_alpha2(country_code)
        continent_code = country_alpha2_to_continent_code(alpha_2)
        continent_name = {
            'AF': 'Africa',
            'AN': 'Antarctica',
            'AS': 'Asia',
            'EU': 'Europe',
            'NA': 'North America',
            'OC': 'Oceania',
            'SA': 'South America'
        }[continent_code]
        return continent_name
    except:
        return None

countrys = (data.code).tolist()
lista_continets = []
for i in countrys:
    continent = get_continent_from_country_code(i)
    lista_continets.append(continent)
#print(continent) 

data["continent"] = lista_continets
data.to_csv(os.path.join('..', 'data', 'dataset_alpha.csv'), index=False)

NameError: name 'data' is not defined